@model BackendProj.Models.Student

<h2>@Model.Name @Model.Surname</h2>
<h3>Przedmioty i oceny:</h3>
<ul>
    @foreach (var subject in Model.Subjects)
    {
        <li>
            <strong>@subject.Name</strong>
            <ul>
                @foreach (var grade in subject.Grades)
                {
                    <li>Ocena: @grade.Value</li>
                }
            </ul>
        </li>
    }
</ul>