@model BackendProj.Models.Teacher

<h2>Witaj @Model.Name @Model.Surname, Twoi uczniowie:</h2>
<ul>
    @foreach (var subject in Model.Subjects)
    {
        foreach (var grade in subject.Grades)
        {
            <li>@grade.Student.Name @grade.Student.Surname</li>
        }
    }
</ul>